<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Student
        link(rel="stylesheet", href="css/style.css")
        link(href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet")
    body
        .container-fluid
            header.header.row
                img(src="images/Perfectice-Logo.png", alt="logo").header__logo
                nav.header__nav
                    ul.menu
                        li.menu__item
                            a.menu__link(href="#") Dashboard
                        li.menu__item
                            a.menu__link(href="#") Course
                        li.menu__item
                            a.menu__link(href="#") Assesment
                        li.menu__item
                            a.menu__link(href="#") Classroom
                        li.menu__item
                            a.menu__link(href="#") Questions
                .header__right
                    .header__item
                        a.btn(href="#")
                            img(src="images/chat-icon.png", alt="chat")
                    .header__item
                        a.btn(href="#")
                            img(src="images/noti-icon.png", alt="chat")
                    .header__item
                        a.btn(href="#")
                            img(src="images/avata.png", alt="chat")
        .container-fluid.row
            .banner
                h3.banner__text What do you want to Practice today?
                input.banner__input(type="search")
        .container.row
            .box
                h2.box__title 3 search results
                .box__list
                    .box__item
                        .box__image
                            img(src="images/lesson.png", alt="lesson")
                        .box__info
                            .box__title Fluid Mechanics
                            .box__category
                                .box__category--item Fluids
                                .box__category--item Viscosity
                            .box__question
                                .box__question--text 60 questions
                                .box__question--text 120 minutes
                        .box__button VIEW DETAILS
                    .box__item
                        .box__image
                            img(src="images/lesson.png", alt="lesson")
                        .box__info
                            .box__title Fluid Mechanics
                            .box__category
                                .box__category--item Fluids
                                .box__category--item Viscosity
                            .box__question
                                .box__question--text 60 questions
                                .box__question--text 120 minutes
                        .box__button VIEW DETAILS
                    .box__item
                        .box__image
                            img(src="images/lesson.png", alt="lesson")
                        .box__info
                            .box__title Fluid Mechanics
                            .box__category
                                .box__category--item Fluids
                                .box__category--item Viscosity
                            .box__question
                                .box__question--text 60 questions
                                .box__question--text 120 minutes
                        a(href="#").box__button VIEW DETAILS